.q{
    width: 300px;
}
.c{
    font-size: 16px;
    color: white;
    text-indent: 1em;
    line-height: 30px;
    background-color:#518700;
    background-image:url(../ImageFile/bang.gif);
    background-repeat:no-repeat;
    background-position:100px 3px;
    height:30px;
}
.f{

    background-color: #F3F4DF;
    background-repeat:no-repeat;
    width:300px;
    height: 350px;
}
.f ul li a{

    color:#1A66B3;
    text-decoration:none;
    font-size: 12px;
    line-height: 28px;
}
.f ul li a:hover{
    text-decoration:underline;
}
.f ul li.one{
    background-position:5px 4px;
    list-style-type:none;
    background-image:url(../ImageFile/book_no01.gif);
    background-repeat:no-repeat;
    text-indent: 2em;
}
.f ul li.two{
    background-position:5px 5px;
    list-style-type:none;
    background-image:url(../ImageFile/book_no02.gif);
    background-repeat:no-repeat;
    text-indent: 2em;
}
.f ul li.three{
    background-position:5px 6px;
    list-style-type:none;
    background-image:url(../ImageFile/book_no03.gif);
    background-repeat:no-repeat;
    text-indent: 2em;
}
.f ul li.four{
    background-position:5px 7px;
    list-style-type:none;
    background-image:url(../ImageFile/book_no04.gif);
    background-repeat:no-repeat;
    text-indent: 2em;
}
.f ul li.five{
    background-position:5px 8px;
    list-style-type:none;
    background-image:url(../ImageFile/book_no05.gif);
    background-repeat:no-repeat;
    text-indent: 2em;
}
.f ul li.six{
    background-position:5px 9px;
    list-style-type:none;
    background-image:url(../ImageFile/book_no06.gif);
    background-repeat:no-repeat;
    text-indent: 2em;
}
.f ul li.seven{
    background-position:5px 10px;
    list-style-type:none;
    background-image:url(../ImageFile/book_no07.gif);
    background-repeat:no-repeat;
    text-indent: 2em;
}
.f ul li.eight{
    background-position:5px 11px;
    list-style-type:none;
    background-image:url(../ImageFile/book_no08.gif);
    background-repeat:no-repeat;
    text-indent: 2em;
}
.f ul li.nine{
    background-position:5px 12px;
    list-style-type:none;
    background-image:url(../ImageFile/book_no09.gif);
    background-repeat:no-repeat;
    text-indent: 2em;
}
.f ul li.ten{
    background-position:5px 13px;
    list-style-type:none;
    background-image:url(../ImageFile/book_no10.gif);
    background-repeat:no-repeat;
    text-indent: 2em;
}

.f ul {margin-top:0px;}